span{
    width: 150px;
    height: 150px;
    background-color: #bfc4c8;
    margin: 2px;

}
.container{

    width: 1015px;
    height: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: none !important;

}
.grey{
    background-color: #1f1c1c;
    width: 20px;
    height: 20px;
}

